{{template "top" .}}
<ul>
{{range .Posts}}
    <li id="posts-list-item">
        <a href="{{.FileName}}.html">
            <span>{{.Title}}</span> 
            <span id="blog-date">{{.Date}}</span>
        </a>
    </li>
{{end}}
</ul> 
{{template "bottom" .}}